// This .babelrc is for react-native
// It's trade-off for super simple React Native integration.
// Browser babel configuration is in ./webpack.
{
  "retainLines": true,
  "compact": true,
  "comments": false,
  "plugins": [],
  "presets": ["react", "react-native"],
  "env": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
  },
  "sourceMaps": false,
}
