// This .babelrc is for react-native
// It's trade-off for super simple React Native integration.
// Browser babel configuration is in ./webpack.
{
  "presets": ["react-native"],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements"
      ]
    }
  }
}
